---
layout: main
title: Search
---

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/reset-min.css" integrity="sha256-t2ATOGCtAIZNnzER679jwcFcKYfLlw01gli6F6oszk8=" crossorigin="anonymous">
<style>
.hit {
	margin-top: 5px;
	margin-bottom: 5px;
}

#pagination {
	margin-top: 10px;
}
</style>
<div id="searchbox"></div>
<div id="hits"></div>
<div id="pagination"></div>

<script>
const searchClient = algoliasearch('WFABFE7Z9Q', 'd1c88c3f98648a69f11cdd9d5a87de08');

// thank yyou chuck meyer! 
const search = instantsearch({
  indexName: 'jamstack_search',
  searchClient,
  searchFunction(helper) {
 	const container = document.querySelector('#hits');
    container.style.display = helper.state.query === '' ? 'none' : '';
 	const pcontainer = document.querySelector('#pagination');
    pcontainer.style.display = helper.state.query === '' ? 'none' : '';
    helper.search();
  }
});

search.addWidgets([
  instantsearch.widgets.searchBox({
    container: '#searchbox',
  }),

  instantsearch.widgets.hits({
    container: '#hits',
	templates: {
		item: `
{% raw %}
<div class="hit">
<strong><a href="{{url}}">{{ title }}</a></strong> ({{ date }})
</div>
{% endraw %}
		`
	}
  }),

  instantsearch.widgets.pagination({
    container: '#pagination',
  })

]);


search.start();
</script>